
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

#keyboard {
    border: 1px solid #000;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notation {
    margin-bottom: 100px;  
}

.key {
    cursor: pointer;
}
  
.white-key:hover {
    fill: #d0d0d0; 
}

.black-key:hover {
    fill: #404040;  
}

.key.active {
    fill: green;
}

.white-key.highlight {
    fill: orange;
}

.black-key.highlight {
    fill: #CC7000;
}

.white-key.highlight:hover {
    fill: #d0d0d0;  
}

.black-key.highlight:hover {
    fill: #404040;  
}

.key.highlight.active {
    fill: green;
}
